<?php
require_once('include/utils/utils.php');
require_once('include/logging.php');
require_once 'modules/GeisReports/actions/RunReportTimetable.php';

global $adb, $log;
$current_user = Users::getActiveAdminUser();

$log = LoggerManager::getLogger('GeisReports');
$log->info("Start GeisReportsTimetable");

$timetable = new GeisReports_RunReportTimetable_Action();
$timetable->process(new Vtiger_Request(null));

$log->info("End GeisReportsTimetable");

?>