<?php
require_once('include/utils/utils.php');
require_once('include/logging.php');
require_once 'modules/GeisDataQuality/actions/AuditRun.php';

global $adb, $log;
$current_user = Users::getActiveAdminUser();

$log = LoggerManager::getLogger('GeisDataQualityAuditRun');
$log->info("Start GeisDataQualityAuditRun");

$audit = new GeisDataQuality_AuditRun_Action();
$audit->process(new Vtiger_Request(null));

$log->info("Ende GeisDataQualityAuditRun");

?>