<?php

require_once('include/utils/utils.php');
require_once('include/logging.php');
require_once 'modules/GeisOutlook/actions/RefreshPermission.php';

global $adb, $log;
$current_user = Users::getActiveAdminUser();

$log = LoggerManager::getLogger('GeisOutlook');
$log->info("Start GeisOutlookPermission");

$permissions = new GeisReports_RefreshPermission_Action();
$permissions->process(new Vtiger_Request(null));

$log->info("End GeisOutlookPermission");

?>